<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <h3><a href="/dashboard/orders">Orders</a> <a href="/dashboard/products">Products</a> <a href="/logout">Logout</a> <a href="/new">New Product</a></h3>
    <h1>Products Here</h1>
    <table>
      <tr>
        <th>
          Picture |
        </th>
        <th>
          ID |
        </th>
        <th>
          Name |
        </th>
        <th>
          Inventory Count |
        </th>
        <th>
          Quantity sold |
        </th>
        <th>
          Action
        </th>
      </tr>
      {%for product in products%}
      <tr>
        <td>
          <img src="{{MEDIA_URL}}{{product.image}}" alt="" />
        </td>
        <td>
          {{product.id}}
        </td>
        <td>
          {{product.name}}
        </td>
        <td>
          {{product.inventory}}
        </td>
        <td>
          {{product.sold}}
        </td>
        <td>
          <a href="/edit/{{product.id}}">Edit</a>
          <a href="/delete/{{product.id}}">Delete</a>
        </td>
      </tr>
      {%endfor%}

    </table>
    <div class="pagination">
      {% if products.has_previous %}
        <a href="?page={{products.previous_page_number}}">previous</a>
      {%endif%}
      Page {{products.number}} of {{products.paginator.num_pages}}
      {% if products.has_next %}
        <a href="?page={{products.next_page_number}}">next</a>
      {%endif%}
    </div>
  </body>
</html>
